---
import Table from "../../../common/Table";
import StarFilled from "../../../custom-icons/StarFilled.vue";
import StarNotFilled from "../../../custom-icons/StarNotFilled.vue";
import LandingLayout from "../../../layouts/user/Landing.astro";

export async function getStaticPaths() {
  const properties = [
    {
        "id": 1,
        "name": "Hostal del Mar",
        "city": "Barcelona",
        "rate": 4.25,
        "image": "https://img.freepik.com/free-photo/beautiful-luxury-outdoor-swimming-pool-hotel-resort_74190-7433.jpg?w=2000",
        "rooms": {
            "number": 2,
            "ameneties": [
                "Terraza con vistas al mar",
                "Jacuzzi"
            ]
        },
        "ameneties": [
            "Free parking",
            "Free WiFi",
            "Breakfast Included"
        ],
        "bathroms": 3,
        "price": "240.000"
    },
    {
        "id": 2,
        "name": "Hotel El Descanso",
        "city": "Madrid",
        "rate": 4.75,
        "image": "https://www.nobbot.com/wp-content/uploads/2016/08/hoteles-w-920x515.jpg",
        "rooms": {
            "number": 5,
            "ameneties": [
                "Spa",
                "Gimnasio"
            ]
        },
        "ameneties": [
            "Parking",
            "Free WiFi",
            "Breakfast Included"
        ],
        "bathroms": 6,
        "price": "450.000"
    },
    {
        "id": 3,
        "name": "Hostería El Paraíso",
        "city": "Cali",
        "rate": 4.00,
        "image": "https://media-cdn.tripadvisor.com/media/photo-s/25/fb/8c/46/hotel-exterior.jpg",
        "rooms": {
            "number": 3,
            "ameneties": [
                "Jardín",
                "Zona de barbacoa"
            ]
        },
        "ameneties": [
            "Estacionamiento",
            "Free WiFi",
            "Breakfast Included"
        ],
        "bathroms": 4,
        "price": "180.000"
    },
    {
        "id": 4,
        "name": "Hotel San Rafael",
        "city": "Cartagena",
        "rate": 4.50,
        "image": "https://cdn.forbes.co/2020/02/sofitel-legend-santa-clara-outdoor-pool.jpg",
        "rooms": {
            "number": 4,
            "ameneties": [
                "Balcón con vista al mar",
                "Aire acondicionado"
            ]
        },
        "ameneties": [
            "Parqueadero",
            "Free WiFi",
            "Breakfast Included"
        ],
        "bathroms": 5,
        "price": "360.000"
    },
    {
        "id": 5,
        "name": "Hostal Don Pepe",
        "city": "Bogotá",
        "rate": 4.00,
        "price": "130.000",
        "image": "https://media-cdn.tripadvisor.com/media/photo-s/13/60/c0/72/hotel-pacanaima.jpg",
        "rooms": {
          "number": 4,
          "ameneties": [
              "Balcón con vista al mar",
              "Aire acondicionado"
          ]
        }
    }
  ]
  
    return properties.map(el => {
      return { params: {id: el.id} , props: el}
    })
  }
  const props = Astro.props
  const stars = ['1', '2', '3', '4', '5']
  const tableHeaders = [ 'Room type', 'Sleeps', 'Price/night']
  const tableBody = [
    ['Standard', 2, '240.000'],
    ['Double', 2, '270.000'],
    ['King', 2, '300.000'],
    ['Double, Bath', 2, '450.000']
  ]

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<LandingLayout>
      <section class="overflow-y-auto mb-[5%] h-[100vh]">
        <div class="relative mx-auto max-w-screen-xl">
          <div class="grid grid-cols-1 items-start gap-8 md:grid-cols-1 overflow-hidden pt-10 pr-10">
            <div class="flex justify-center items-center w-[50%] h-auto fixed left-0">
              <img
                alt="Les Paul"
                src={props.image}
                class="aspect-square rounded-xl object-cover w-[70%]"
              />
            </div>

            <div class="top-0 overflow-y-auto absolute h-auto right-0 w-[50%] pt-5">
      
              <div class="mt-8 flex justify-between">
                <div class="max-w-[35ch] space-y-2">
                  <h1 class="text-xl font-bold sm:text-2xl">
                    {props.name}
                  </h1>
      
                  <p class="text-sm">Highest Rated Product</p>
      
                  <div class="-ml-0.5 flex items-center">
                    {
                      stars.map((_star, starIndex) => starIndex < parseInt(props.rate) ? 
                          <StarFilled />
                          :
                          <StarNotFilled />
                        )
                    }

                    <p class="ml-3 text-sm text-gray-500"> {props.rate} </p>
                  </div>
                </div>
      
                <p class="text-lg font-bold">${props.price}</p>
              </div>
      
              <div class="mt-4">
                <div class="prose max-w-none">
                  <p class="text-gray-500">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                    veniam dicta beatae eos ex error culpa delectus rem tenetur,
                    architecto quam nesciunt, dolor veritatis nisi minus inventore,
                    rerum at recusandae?
                  </p>
                </div>
              </div>
      
              <form class="mt-8 w-full">
                <fieldset class="w-full">
                  <legend class="mt-5 mb-1 text-lg font-medium">Rooms options</legend>
      
                  <Table headers={tableHeaders} body={tableBody} />
                </fieldset>
      
                <fieldset class="mt-8">
                  <legend class="mb-1 text-lg font-medium">What this place offers</legend>

                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </section>
    </LandingLayout>
	</body>
</html>

<style>
	.body {}
</style>
